.displayContainer {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.caseBackground {
  background-color: orange;
}

@import url("https://fonts.cdnfonts.com/css/insaniburger");
@import url("https://fonts.cdnfonts.com/css/kimberley");
